@import url("https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --ColorDominante: #5bc3eb;
  --ColorSubDominante: #f06449;
  --ColorGray: #36382e;
  --ColorPlatine: #dadad9;
  --ColorSombras: #ede6e3;
  --ColorWhite: #fff;
  --background-color: #f5f5f5;
  --background-color-table: rgba(91, 195, 235, 0.3);
  --background-color-Solution: rgba(255, 0, 50, 0.5);
  --SombraDeterminada: 0px 4px 6px rgba(0, 0, 0, 0.5);
  --Fuente: "Platypi";
}
*{
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
}

body {
  background-color: var(--background-color);
  overflow-y: scroll;
  font-family: var(--Fuente), sans-serif;
  height: 100vh;
  /* Stilos para las imagenes que ingresan  */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
}
.entrada{
  width: 70%;
  display: grid;
  place-items: center;
}


#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Asigna un z-index inferior al div de contenido */
}

/* Stylos para la cabecera Pagina  */
.Cabecera {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--ColorDominante);
  color: var(--ColorWhite);
  padding: 20px;
  box-shadow: var(--header-shadow);
}
h1 {
  font-size: 45px;
  margin: 0; 
  text-transform: uppercase;
  text-shadow: var(--SombraDeterminada);
}
/* fin Stylos Cabecera */

/* primer Contenedor de inputs */
.container-start {
  max-width: 80%;
  margin: 30px auto;
  padding: 20px auto ;
  border-radius: 8px;
  text-align: center;
}
.container-start input{
    text-align: center;
}
.btn {
    background-color: var(--ColorDominante) ;
    color: var(--ColorWhite);
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    max-width: 150px !important;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  }
/* Fin Contenedor Inputs */
.ancho{
    width: 100px;
}
.parameters-container {
  margin: 0 auto;
  border-radius: 8px;
  /*border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;*/
}
.ocultar{
    display: none;
}
.target-container {
  width: 100%;
}


.elastic-group-row {
  width: 100% ;
  padding-bottom: 10px;
    box-sizing: border-box;
}

.target-container,
.target-container input {
  font-size: 14px !important;
}

.target-container input {
  width: 80px;
}

hr {
  border: 1px solid var(--primary-color);
  opacity: 1 !important;
}

.container-table{
  display: flex;
  align-items: center;
  justify-content: center;
 
}

table {
  border: 2px solid var(--ColorDominante);
  padding: 10px;
  width: 60%;
  text-align: center;
  margin-bottom: 15px;
}

table td {
  border: 2px solid var(--background-color-table); 
  padding: 5px;
  text-align: center;
  
}
table th{
  border-bottom:2px solid var(--background-color-table);
  background: var(--background-color-table);
  text-transform: uppercase;
  
}

table.dataTable {
  margin: 0 auto;
}

/* table tr td:first-child{
  background-color: var(--background-color-Solution);
} */

.primeraFila:first-child{
  background-color: #36382e;
}

#loading-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding-top: 20%;
}

#loading-overlay p {
  padding-top: 10px;
  font-weight: bold;
}

#loading-indicator {
  border: 8px solid #f3f3f3;
  border-top: 8px solid var(--primary-color);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.phase-title {
  padding: 10px 0px;
  background-color: var(--primary-color);
  color: #fff;
}
